body {

  background: #ee1c1f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.logo{
	grid-area: logo;
	 background: #ee1c1f;
}

.footer {
	width:100%
	grid-area: footer;
    background-color: #ee1c1f;
}
.footer p{
	text-align:center;
	color:white;
}

.kocka{
	float:left;
	height:65px;
}

.meni{
	grid-area: meni;
	 background: #ee1c1f;
}
.kontakt{
	grid-area: kontakt;
	 background: #ee1c1f;
}

#page-wrapper {
	
	max-width:1000px;
	margin:2% auto;
}

#page {
	border-radius: 25px;
	border: 2px solid white;
	padding: 20px;
	background:white;
	overflow: hidden;
	width: 950px;
	padding-top: 50px;
	padding-left: 10px;
	color: #8F8F8F;
	border-bottom:1px solid #A1A1A1;
	
}
#page p{
	font-size:16px;
}

#page h1{
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

#slike_u{
	margin:30px 0px 30px;
}
#slike_u img{
	display:none;
}
#slike_u .show{
	display:inline;
}



.wrapper > div {

  text-align: center;
  
  
}


.wrapper {
        display: grid;
		width:100%;
		grid-gap: 10px;
        grid-template-columns: 35% 35% 30%;
        grid-template-areas:
		"logo meni meni"
        "kontakt kontakt kontakt"
        "footer  footer  footer";
        
        color: #444;
    }


     // MENI
	 
.meni {
width: 750px;
height: 25px;
background-color: #ee1c1f;
}
.meni a {
font-size: 20px; /* veličina teksta */
color: #EFECCA; /*  kod za odredjenu nijansu žute boje */
}
.meni a li {
float:left; /* svi elementi se redjaju jedan do drugog, po levoj strani */
width: 200px; /* dužina elementa */
height: 40px; /* širina elementa */ 
list-style: none;
padding-top: 15px;
text-align: center;

}
.meni a li:hover {
background-color: #C00; /* odredjena nijansa tamno plave boje */
}

	//LOGO
	
.logo {                       
	float: left;
	width: 150px;
	height: 100px;
	padding: 0px 0px 0px 20px;
}
.logo img{
	
}


.logo p {
	color:#fff;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	letter-spacing:1px;
	font-size:20px;
	
	
	
}

.logo  a {
	text-decoration: none;
	color: #FFFFFF;
}  

.na-vrh {
    position: fixed; 
    bottom: 40px; 
    right: 40px; 
	text-decoration: none; 
    color: #fff; 
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 15px;
}
.na-vrh:hover {
    background-color:  rgba(0, 0, 0, 0.5); 
}



